@model Nop.Admin.Models.Support.SupportDownloadModel
@{    
	//page title
	ViewBag.Title = T("Admin.Support.SupportDownloads.EditSupportDownloadDetails").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "supportDownload-form" }))
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
            @T("Admin.Support.SupportDownloads.EditSupportDownloadDetails") - @Model.Title @Html.ActionLink("(" + T("Admin.Support.SupportDownloads.Downloads.BackToList") + ")", "SupportDownloadList")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateSupportDownload", Model)
}
