@model Nop.Admin.Models.Support.SupportTopicModel
@{    
	//page title
	ViewBag.Title = T("Admin.Support.SupportTopics.EditSupportTopicDetails").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "supportTopic-form" }))
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
            @T("Admin.Support.SupportTopics.EditSupportTopicDetails") - @Model.Title @Html.ActionLink("(" + T("Admin.Support.SupportTopics.Topics.BackToList") + ")", "SupportTopicList")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
            @*<span id="topic-delete" class="k-button">@T("Admin.Common.Delete")</span>*@
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateSupportTopic", Model)
}
@*@Html.DeleteConfirmation("topic-delete")*@