@{    
	//page title
	ViewBag.Title = T("Admin.Support.SupportDownloads.Manage").Text;
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
        @T("Admin.Support.SupportDownloads.Manage")
    </div>
    <div class="options">
        <a href="@Url.Action("CreateSupportDownload")" class="k-button">@T("Admin.Common.AddNew")</a>
    </div>
</div>

<table class="adminContent">
    <tr>
        <td>
            <div id="supportDownloads-grid"></div>

            <script>
                $(document).ready(function () {
                	$("#supportDownloads-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("SupportDownloadList", "Support"))",
                                    type: "POST",
                                    dataType: "json"
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "Title",
                            title: "@T("Admin.Support.SupportDownloads.Fields.Title")"
                        }, {
                            field: "Id",
                            title: "@T("Admin.Common.Edit")",
                            width: 100,
                            template: '<a href="EditSupportDownload/#=Id#">@T("Admin.Common.Edit")</a>'
                        }]
                    });
                });
            </script>

            <script type="text/javascript">

                $(document).ready(function () {
                   
                });
               
            </script>
        </td>
    </tr>
</table>
