@model ProductDetailsModel
@using Nop.Core
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Services.Localization;
@using Nop.Web.Models.Catalog;
@using Nop.Core.Domain.Media;
@using Nop.Core.Domain.Catalog;
@using System.Web;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title, meta
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    //var minQty = int.MaxValue;
    var pluginFinder = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Plugins.IPluginFinder>();

    // check plugin is installed
    var pluginDescriptor = pluginFinder.GetPluginDescriptorBySystemName("TorchDesign_Support");


    //if (pluginDescriptor != null)
    //{
    //var _pluginFinder = EngineContext.Current.Resolve<Nop.Core.Plugins.IPluginFinder>();
    var _settingService = EngineContext.Current.Resolve<Nop.Services.Configuration.ISettingService>();

    //var pluginDescriptor = _pluginFinder.GetPluginDescriptors(false)
    //.FirstOrDefault(x => x.SystemName.Equals("TorchDesign_Support", StringComparison.InvariantCultureIgnoreCase));
    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();
    RunType run = (RunType)(Model.RunId);
    string runValue = run.ToString();
    var url = Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("Maximumruns") + '#' + runValue });
    url = HttpUtility.UrlDecode(url);

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(storeName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        var storeName = EngineContext.Current.Resolve<IStoreContext>
            ().CurrentStore.GetLocalized(x => x.Name);
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(storeName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
    }
                        }
                        <!--product breadcrumb-->
                        @Html.Partial("_ProductBreadcrumb", Model.Breadcrumb)
                        @Html.Widget("productdetails_after_breadcrumb", Model.Id)
                        <div class="page product-details-page">
                            <div class="page-body">

                                @Html.Widget("productdetails_top", Model.Id)
                                @using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
                                {
                                <div itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id">
                                    <div class="product-essential">
                                        @Html.Widget("productdetails_before_pictures", Model.Id)
                                        <!--product pictures-->
                                        @Html.Partial("_ProductDetailsPictures", Model)
                                        @Html.Partial("_ProductDetailsPicturesPopup", Model)
                                        @Html.Widget("productdetails_after_pictures", Model.Id)
                                        <div class="overview">
                                            <div class="product-name">
                                                <h1 itemprop="name" class="productdetailpafetitle">
                                                    @Model.Name
                                                </h1>
                                            </div>
                                            <div class="short-description">
                                                @if (!String.IsNullOrEmpty(Model.ManufacturerPartNumber))
                                                {<span>Part #</span>@Model.ManufacturerPartNumber}

                                                <br />

                                                @if (!String.IsNullOrEmpty(Model.DisplayQuantity))
                                                {<span>Quantity : </span>@Model.DisplayQuantity}

                                            </div>
                                            @if (!String.IsNullOrEmpty(Model.ShortDescription))
                                            {
                                            @*@Html.Raw(Model.ShortDescription)*@
                                            }
                                            @if (Model.MadeInUsa)
                                            {
                                            <div><span>@T("Productdetail.Madeintheusa")</span></div>
                                            }
                                            @Html.Widget("productdetails_overview_top", Model.Id)
                                            <!--product SKU, manufacturer part number, stock info-->
                                            @Html.Partial("_SKU_Man_Stock", Model)
                                            <!--Back in stock subscription-->
                                            @Html.Partial("_BackInStockSubscription", Model)
                                            <!--product manufacturers-->
                                            @*@Html.Partial("_ProductManufacturers", Model.ProductManufacturers)*@
                                            <!--product reviews-->
                                            @Html.Partial("_ProductReviewOverview", Model.ProductReviewOverview)

                                            <!--sample download-->
                                            @Html.Partial("_DownloadSample", Model)
                                            <!--attributes-->
                                            @{
                                                var dataDictAttributes = new ViewDataDictionary();
                                                dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
                                            @Html.Partial("_ProductAttributes", Model.ProductVariantAttributes, dataDictAttributes)
                                            }
                                            <!--gift card-->
                                            @{
                                                var dataDictGiftCard = new ViewDataDictionary();
                                                dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = string.Format("giftcard_{0}", Model.Id);
                                            @Html.Partial("_GiftCardInfo", Model.GiftCard, dataDictGiftCard)
                                            }
                                            <!--price & add to cart-->
                                            @{
                                            @*var dataDictPrice = new ViewDataDictionary();
                                            dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", Model.Id);
                                            @Html.Partial("_ProductPrice", Model.ProductPrice, dataDictPrice)*@

                                                foreach (var variant in Model.AssociatedProducts)
                                                {
                                                    <div class="variant-cart-price" id="variant-price-@variant.Id" style="display:none;">
                                                        @{ 
                                                            var dataDictPriceVariantProduct = new ViewDataDictionary();
                                                            dataDictPriceVariantProduct.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", variant.Id);
                                                            @Html.Partial("_ProductPrice", variant.ProductPrice, dataDictPriceVariantProduct)
                                                         }
                                                    </div>
                                                }

                                            <div class="variant-buttons">
                                                <h3>Select Package Size</h3>
                                                
                                                @foreach (var variant in Model.AssociatedProducts)
                                                {
                                                    //minQty = minQty <= Convert.ToInt32(variant.DisplayQuantity) ? minQty : Convert.ToInt32(variant.DisplayQuantity);
                                                    <button name="button" type="button" id="btn-@Convert.ToInt32(variant.Id)" class="button-1 variant-product-button" product-id="@variant.Id" product-price="@variant.ProductPrice.Price" onclick="variantButtonClick('btn-@variant.Id','@Model.Id','@variant.ProductPrice.Price');">
                                                        <span>@variant.DisplayQuantity - Pack @variant.ProductPrice.Price</span>
                                                    </button>

                                                }
                                                @foreach (var variant in Model.AssociatedProducts)
                                                {
                                                    <div class="variant-cart-button" id="variant-cart-@variant.Id" style="display:none;">
                                                        @{
                                                            var dataDictAddToCartVariantProduct = new ViewDataDictionary();
                                                            dataDictAddToCartVariantProduct.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", variant.Id);
                                                            @Html.Partial("_AddToCart", variant.AddToCart, dataDictAddToCartVariantProduct)
                                                        }
                                                    </div>
                                                }
                                            </div>


                                            @*var dataDictAddToCart = new ViewDataDictionary();
                                            dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                                            @Html.Partial("_AddToCart", Model.AddToCart, dataDictAddToCart)*@
                                            }
                                            @*@Html.Partial("_ProductEmailAFriendButton", Model)
                                            @Html.Partial("_CompareProductsButton", Model)*@
                                            <div class="clr licontainer">
                                                <ul style="list-style-type:none">
                                                    <li id="productdetail_menu_overrview"><a onclick="scrollBottom()" href="javascript:void(0);">Description</a> </li>
                                                    <li id="productdetail_menu_features" style="display:none"><a onclick="scrollBottom()" href="javascript:void(0);">Specification</a> </li>
                                                    <li id="productdetail_menu_Education" style="display:none;"><a onclick="scrollBottom()" href="javascript:void(0);">In The Box</a> </li>
                                                    @*
                                                    <li id="productdetail_menu_Product_Videos"><a href="#">Product Videos</a> </li>
                                                    <li id="productdetail_menu_Installation"><a href="#Installation">Installation</a> </li>
                                                    <li id="productdetail_menu_Recommendation"><a href="#RecommendationLimitation">Recommendation &amp; Limitation </a> </li>*@
                                                    <li id="productdetail_menu_Productreview"><a onclick="scrollBottom()" href="javascript:void(0);">Review</a> </li>
                                                    <li id="productdetail_menu_Related" style="display:none;"><a onclick="scrollBottom()" href="javascript:void(0);">Related Item</a> </li>

                                                    @*
                                                    <li id=""><a href="@Url.RouteUrl(" ProductReviews", new { productId=Model.Id })">Product Review</a> </li>*@
                                                </ul>
                                            </div>
                                            @Html.Partial("_ShareButton", Model)
                                            @Html.Widget("productdetails_overview_bottom", Model.Id)
                                        </div>

                                        @{

                                        int productPerRow = EngineContext.Current.Resolve<MediaSettings>
                                            ().ProductThumbPerRowOnProductDetailsPage;
                                            }
                                            <div class="viewlargediv">
                                                <a class="fancyCarausal" data-fancybox-group='gallery' href="#gallarypopup">
                                                    <span class="viewlarge">@T("view.large")</span>
                                                </a>
                                                <script>
                                                    $('.fancyCarausal').click(function () {
                                                        //$(function () {
                                                        //    $('.productdetailpopupmycarousel').jcarousel({
                                                        //        list: '.productdetailpopuphome-page-category-grid',
                                                        //        items: '.productdetailpopupitem-box',
                                                        //        //vertical: true
                                                        //    });
                                                        //});
                                                        $('.productdetailpopuphome-page-category-grid').css('top', '0');
                                                        //$('#clknext').click();
                                                        //$('#clknext').click();
                                                        //$('#clkpre').click();
                                                    });

                                                </script>
                                            </div>
                                            @if (Model.PictureModels.Count > 1)
                                            {
                                            <div class="productdetailslidermaindiv">
                                                <script>
                                                    $(function () {
                                                        $('.productdetailmycarousel').jcarousel({
                                                            list: '.productdetailhome-page-category-grid',
                                                            items: '.productdetailitem-box'
                                                        });
                                                    });
                                                </script>
                                                <div class="productdetailmycarousel">
                                                    <div class="productdetailhome-page-category-grid">
                                                        @for (int i = 0; i < Model.PictureModels.Count; i++)
                                                        {
                                                        var picture = Model.PictureModels[i];
                                                        <div class="productdetailitem-box">
                                                            <div class="category-item">
                                                                <div class="picture">
                                                                    <a class="" href="javascript:void(0)" title="@Model.Name">
                                                                        <img id="thumb_@i" src="@picture.ImageUrl" onclick="changeImage('@picture.DefaultPictureImageUrl','@picture.FullSizeImageUrl','main-product-img-@Model.Id','main-product-img-lightbox-anchor-@i')" alt="@picture.AlternateText" title="@picture.Title" data-img="@picture.FullSizeImageUrl" />
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        }
                                                    </div>
                                                </div>
                                                <a href="#" class="productdetailjcarousel-control-prev"></a>
                                                <a href="#" class="productdetailjcarousel-control-next"></a>
                                            </div>
                                            }

                                            <div class="productdetaiiconcontainmain">
                                                <div class="productdetailiconcontaindiv">
                                                    <a href="javascript:void(0)" id="productdetail_menu_Product_Warnty" class="productdetailsconcontainicon">
                                                        <div><img src="~/Themes/MisterLandscaper/Content/images/pdworranties.png" /></div>
                                                        <div class="productdetailicontitle">Warranties</div>
                                                    </a>
                                                </div>
                                                <div class="productdetailiconcontaindiv">
                                                    <a href="javascript:void(0)" id="productdetail_menu_Product_Download" style="display:none" class="productdetailsconcontainicon">
                                                        <div><img src="~/Themes/MisterLandscaper/Content/images/pddownload.png" /></div>
                                                        <div class="productdetailicontitle">Downloads</div>
                                                    </a>
                                                </div>
                                                <div class="productdetailiconcontaindiv">
                                                    <a href="javascript:void(0)" id="productdetail_menu_Product_Videos" style="display:none" class="productdetailsconcontainicon">
                                                        <div><img src="~/Themes/MisterLandscaper/Content/images/pdvideo.png" /></div>
                                                        <div class="productdetailicontitle">Videos</div>
                                                    </a>
                                                </div>
                                                <div class="productdetailiconcontaindiv">
                                                    <a href="javascript:void(0)" id="productdetail_menu_Installation" style="display:none" class="productdetailsconcontainicon">
                                                        <div><img src="~/Themes/MisterLandscaper/Content/images/pdcommon.png" /></div>
                                                        <div class="productdetailicontitle">Common Question</div>
                                                    </a>
                                                </div>
                                                <div class="productdetailiconcontaindiv">
                                                    <a href="javascript:void(0)" id="productdetail_menu_Recommendation" style="display:none" class="productdetailsconcontainicon">
                                                        <div><img src="~/Themes/MisterLandscaper/Content/images/pdhowto.png" /></div>
                                                        <div class="productdetailicontitle">How To</div>
                                                    </a>
                                                </div>
                                                @if (Model.RunId > 0)
                                                {
                                                <div class="productdetailiconcontaindiv">
                                                    <a href="@url" target="_blank" class="productdetailsconcontainicon">
                                                        <div><img src="~/Themes/MisterLandscaper/Content/images/Maximum_runs_button.jpg" /></div>
                                                        <div class="productdetailicontitle">Max Runs</div>
                                                    </a>
                                                </div>
                                                }



                                            </div>
                                            <div class="clr"></div>
                                            <div class="tab_div_container" id="tabDiv">
                                                <div class="productdetailcontainer" id="tab_overview">
                                                    <div id="Description" class="productdetailhidedivheader">
                                                        Description
                                                    </div>

                                                    @if (!String.IsNullOrEmpty(Model.FullDescription))
                                                    {<div class="tabdiscription">
                                                        @Html.Raw(Model.FullDescription)
                                                    </div>
                                                    }
                                                </div>
                                                <div class="productdetailcontainer" id="tab_Features">
                                                    <div id="Specification" class="productdetailhidedivheader">
                                                        Specification
                                                    </div>

                                                    <div class="tabdiscription">
                                                        @Html.Partial("_ProductSpecifications", Model.ProductSpecifications)
                                                    </div>
                                                </div>
                                                <div class="productdetailcontainer" id="tab_Education">
                                                    <div id="InTheBox" class="productdetailhidedivheader">
                                                        In The Box
                                                    </div>
                                                    <div class="tabdiscription">
                                                        @Html.Action("ProductInBox", "Product", new { productId = Model.Id })
                                                    </div>
                                                </div>
                                                <div class="productdetailcontainer" id="tab_Product_Videos">
                                                    <div class="productdetailhidedivheader">
                                                        <div class="vicon">
                                                            <img src="~/Themes/MisterLandscaper/Content/images/videoicon.png" />
                                                        </div> Videos
                                                    </div>
                                                    <div class="tabdiscription">
                                                        @Html.Action("ProductVideo", "Product", new { productId = Model.Id })

                                                    </div>
                                                </div>
                                                <div class="productdetailcontainer" id="tab_Installation">
                                                    <div class="productdetailhidedivheader questionsdiv">
                                                        Common Question<span style="background:url(../../Content/images/question.png)no-repeat"></span>
                                                    </div>
                                                    <div class="tabdiscription">
                                                        @Html.Action("TopicBlock", "Topic", new { systemName = "common-questions" })
                                                    </div>
                                                </div>
                                                <div class="productdetailcontainer" id="tab_Recommendation_Limitation">
                                                    <div class="productdetailhidedivheader">
                                                        How To
                                                    </div>
                                                    @*<div class="tabdiscription">
                                                        @if (Model.ProductReviewOverview.AllowCustomerReviews)
                                                        {
                                                        @Html.Action("HowToOnProductDetails", "Support", new { productId = Model.Id })

                                                        }
                                                    </div>*@
                                                    <div class="tabdiscription">
                                                        @Html.Action("TopicBlock", "Topic", new { systemName = "how-to-get-started" })
                                                    </div>
                                                </div>
                                                <div class="clr"></div>
                                                <div class="productdetailcontainer" id="tab_Related_Item">
                                                    <div id="RelatedItem" class="productdetailhidedivheader">
                                                        Related Item
                                                    </div>
                                                    <div class="tabdiscription">
                                                        @Html.Action("RelatedProducts", "Product", new { productId = Model.Id })
                                                    </div>
                                                </div>
                                                <div class="productdetailcontainer" id="tab_Download">
                                                    <div class="productdetailhidedivheader">
                                                        Download
                                                    </div>
                                                    <div class="tabdiscription">
                                                        @Html.Action("ProductDownload", "Product", new { productId = Model.Id })
                                                        @*@Html.Action("TopicBlock", "Topic", new { systemName = "downloads" })*@
                                                    </div>
                                                </div>
                                                <div class="productdetailcontainer" id="tab_Warranties">
                                                    <div class="productdetailhidedivheader warnty">
                                                        Warranties
                                                    </div>
                                                    <div class="tabdiscription">
                                                        @Html.Action("TopicBlock", "Topic", new { systemName = "warranties" })
                                                    </div>
                                                </div>
                                                <div class="productdetailcontainer" id="tab_Productreview">
                                                    <div id="Review" class="productdetailhidedivheader">
                                                        Product Review
                                                    </div>
                                                    <div class="tabdiscription">
                                                        @if (Model.ProductReviewOverview.AllowCustomerReviews)
                                                        {
                                                        @Html.Action("ProductReviews", "Product", new { productId = Model.Id })

                                                        }
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="tabdiscription">
                                                @if (pluginDescriptor != null)
                                                {
                                                @Html.Action("HowToOnProductDetails", "Support", new { productId = Model.Id })

                                                }

                                            </div>

                                            @*
                                            <script>
                                                $(document).ready(function () {
                                                    $("#detailhowto").hide();
                                                });
                                            </script>*@
                                            <div class="clr"></div>
                                            @*@if (!String.IsNullOrEmpty(Model.FullDescription))
                                            {
                                            <div class="full-description" itemprop="description">
                                                @Html.Raw(Model.FullDescription)
                                            </div>
                                            }*@
                                            @if (!String.IsNullOrEmpty(Model.ShortDescription))
                                            {
                                            <meta itemprop="description" content="@Model.ShortDescription" />
                                            }
                                            @Html.Action("ProductsAlsoPurchased", "Product", new { productId = Model.Id })

                                    </div>

                                    @Html.Widget("productdetails_before_collateral", Model.Id)
                                    @*<div class="product-collateral">
                                        @Html.Partial("_ProductTierPrices", Model.TierPrices)
                                        @Html.Partial("_ProductSpecifications", Model.ProductSpecifications)
                                        @Html.Partial("_ProductTags", Model.ProductTags)
                                        @Html.Action("ProductsAlsoPurchased", "Product", new { productId = Model.Id })

                                    </div>*@

                                </div>
                                }
                                @Html.Widget("productdetails_bottom", Model.Id)
                                @*<a href="#" id="test">Description</a>*@
                            </div>
                        </div>
                        <script>
                            //$(window).load(function () {
                            //    $('.Alsocarousel').jcarousel({
                            //        list: '.Alsocontainer',
                            //        items: '.item-box'
                            //    });
                            //});
                            function scrollBottom() {
                                var catTopPosition = $('#tabDiv').offset().top;
                                jQuery('html, body').animate({ scrollTop: catTopPosition }, 'slow');
                            }


                            function changeImage(imgUrl, fullimgUrl, mainId, zoomId) {
                                var mainImage = "#" + mainId;
                                var zoomImageId = "#" + zoomId;
                                $(mainImage).attr("src", imgUrl);
                                hideall();
                                $(zoomImageId).css("display", "block");
                                $(zoomImageId).attr("href", fullimgUrl);


                            }

                            function hideall() {
                                $("[id^=main-product-img-lightbox-anchor]").each(function (index) {

                                    var id = "#" + this.id;
                                    //alert(id)
                                    $(id).css("display", "none");
                                });
                            }

                            $(document).ready(function () {
                                hideall();
                                $("[id^=tab_]").each(function (index) {
                                    var id = "#" + this.id;
                                    $(id).css("display", "none");
                                });


                                $("#thumb_0").click();

                                $("#productdetail_menu_overrview").click();

                            });

                            //$("[id^=ancherSupport_]").click(function () {
                            //    var CurrentDivId = this.id;
                            //    CurrentDivId = CurrentDivId.substr(7, CurrentDivId.length);
                            //    alert(CurrentDivId);
                            //    //$("[id^=descdiv_]").each(function (index) {
                            //    //    var id = "#" + this.id;
                            //    //    $(id).css("display", "none");
                            //    //});
                            //});

                            function supportancherclick(id) {
                                //alert(id);
                                if (id == "video") {
                                    $("[id^=descdiv_]").each(function (index) {
                                        var id = "#" + this.id;
                                        $(id).css("display", "none");
                                    });

                                    $("[id^=productdetail_menu_]").each(function (index) {
                                        var id = "#" + this.id;
                                        $(id).css("opacity", "1.0");
                                        $(id).css("background", "none");

                                    });
                                    $("[id^=Support]").each(function (index) {
                                        var id = "#" + this.id;
                                        $(id).css("opacity", "1.0");
                                        $(id).css("background", "none");
                                    });

                                    $("#SupportVideo1").css("opacity", "0.3");
                                    $("#descdiv_video").css("display", "block");
                                    $("#tab_overview").css("display", "none");
                                    $("#tab_Features").css("display", "none");
                                    $("#tab_Education").css("display", "none");
                                    $("#tab_Product_Videos").css("display", "none");
                                    $("#tab_Installation").css("display", "none");
                                    $("#tab_Recommendation_Limitation").css("display", "none");
                                    $("#tab_Related_Item").css("display", "none");
                                    $("#tab_Download").css("display", "none");
                                    $("#tab_Warranties").css("display", "none");
                                    $("#tab_Productreview").css("display", "none");


                                }
                                else if (id == "download") {
                                    $("[id^=descdiv_]").each(function (index) {
                                        var id = "#" + this.id;
                                        $(id).css("display", "none");
                                    });
                                    $("[id^=productdetail_menu_]").each(function (index) {
                                        var id = "#" + this.id;
                                        $(id).css("opacity", "1.0");
                                        $(id).css("background", "none");

                                    });
                                    $("[id^=Support]").each(function (index) {
                                        var id = "#" + this.id;
                                        $(id).css("opacity", "1.0");
                                        $(id).css("background", "none");
                                    });
                                    $("#SupportDownload1").css("opacity", "0.3");
                                    $("#descdiv_download").css("display", "block");
                                    $("#tab_overview").css("display", "none");
                                    $("#tab_Features").css("display", "none");
                                    $("#tab_Education").css("display", "none");
                                    $("#tab_Product_Videos").css("display", "none");
                                    $("#tab_Installation").css("display", "none");
                                    $("#tab_Recommendation_Limitation").css("display", "none");
                                    $("#tab_Related_Item").css("display", "none");
                                    $("#tab_Download").css("display", "none");
                                    $("#tab_Warranties").css("display", "none");
                                    $("#tab_Productreview").css("display", "none");
                                }
                                else {

                                    var descdiv = "#SupportAnchr_" + id;

                                    $("[id^=productdetail_menu_]").each(function (index) {
                                        var id = "#" + this.id;
                                        $(id).css("opacity", "1.0");
                                        $(id).css("background", "none");
                                    });
                                    $("[id^=tab_]").each(function (index) {
                                        var id = "#" + this.id;
                                        $(id).css("display", "none");
                                    });
                                    $("[id^=descdiv_]").each(function (index) {
                                        var id = "#" + this.id;
                                        $(id).css("display", "none");
                                    });
                                    $("[id^=Support]").each(function (index) {
                                        var id = "#" + this.id;
                                        $(id).css("opacity", "1.0");
                                        $(id).css("background", "none");
                                    });
                                    $(descdiv).css("opacity", "0.31");
                                    $(descdiv).css("background", "none");
                                    $("#descdiv_" + id).css("display", "block");



                                    //$("#SupportAnchr_1").css("opacity", "0.3");

                                    //$(descdiv).css("display", "block");
                                    //$("#tab_overview").css("display", "none");
                                    //$("#tab_Features").css("display", "none");
                                    //$("#tab_Education").css("display", "none");
                                    //$("#tab_Product_Videos").css("display", "none");
                                    //$("#tab_Installation").css("display", "none");
                                    //$("#tab_Recommendation_Limitation").css("display", "none");
                                    //$("#tab_Related_Item").css("display", "none");
                                    //$("#tab_Download").css("display", "none");
                                    //$("#tab_Warranties").css("display", "none");
                                    //$("#tab_Productreview").css("display", "none");
                                }

                            }


                            $("[id^=thumb_]").click(function () {
                                var getid = this.id;
                                var popupthumbh = "#thumb_popup_" + getid.substr(6, (getid.length));
                                $(popupthumbh).click();
                                // $(popupthumbh).click();
                            });
                            $("[id^=productdetail_menu_]").click(function () {
                                var curId = this.id;
                                $("[id^=productdetail_menu_]").each(function (index) {
                                    var id = "#" + this.id;
                                    $(id).css("opacity", "1.0");
                                    $(id).css("background", "url('/Themes/MisterLandscaper/Content/images/Arrow_Small_Righforli.png') no-repeat scroll 6px 50% rgba(0, 0, 0, 0)");

                                });
                                $("[id^=SupportAnchr_]").each(function (index) {
                                    var id = "#" + this.id;
                                    $(id).css("opacity", "1.0");
                                    $(id).css("background", "none");
                                });

                                $("[id^=Support]").each(function (index) {
                                    var id = "#" + this.id;
                                    $(id).css("opacity", "1.0");
                                    $(id).css("background", "none");
                                });
                                $("#productdetail_menu_Product_Download").css("background", "none");
                                $("#productdetail_menu_Product_Videos").css("background", "none");
                                $("#productdetail_menu_Installation").css("background", "none");
                                $("#productdetail_menu_Recommendation").css("background", "none");
                                $("#detailhowto").css("background", "none");
                                $("#productdetail_menu_Product_Warnty").css("background", "none");
                                $("[id^=tab_]").each(function (index) {
                                    var id = "#" + this.id;
                                    $(id).css("display", "none");
                                });
                                if (curId == "productdetail_menu_overrview") {
                                    $("#productdetail_menu_overrview").css("background", "url('/Themes/MisterLandscaper/Content/images/Arrow_Small_Righforli.png') no-repeat scroll 6px 50% #cbd2dc");
                                    $("#tab_overview").css("display", "block"); $("#descdiv_1").css("display", "none"); $("#descdiv_2").css("display", "none");
                                }
                                else if (curId == "productdetail_menu_features") {
                                    $("#productdetail_menu_features").css("background", "url('/Themes/MisterLandscaper/Content/images/Arrow_Small_Righforli.png') no-repeat scroll 6px 50% #cbd2dc");
                                    $("#tab_Features").css("display", "block"); $("#descdiv_1").css("display", "none"); $("#descdiv_2").css("display", "none");
                                }
                                else if (curId == "productdetail_menu_Education") {
                                    $("#productdetail_menu_Education").css("background", "url('/Themes/MisterLandscaper/Content/images/Arrow_Small_Righforli.png') no-repeat scroll 6px 50% #cbd2dc");
                                    $("#tab_Education").css("display", "block"); $("#descdiv_1").css("display", "none"); $("#descdiv_2").css("display", "none");
                                }
                                else if (curId == "productdetail_menu_Product_Videos") {
                                    $("#productdetail_menu_Product_Videos").css("opacity", "0.31");
                                    $("#productdetail_menu_Product_Videos").css("background", "none");
                                    $("#tab_Product_Videos").css("display", "block"); $("#descdiv_1").css("display", "none"); $("#descdiv_2").css("display", "none");
                                }
                                else if (curId == "productdetail_menu_Installation") {
                                    $("#productdetail_menu_Installation").css("opacity", "0.31");
                                    $("#productdetail_menu_Installation").css("background", "none");
                                    $("#tab_Installation").css("display", "block"); $("#descdiv_1").css("display", "none"); $("#descdiv_2").css("display", "none");
                                }
                                else if (curId == "productdetail_menu_Recommendation") {
                                    $("#productdetail_menu_Recommendation").css("opacity", "0.31");
                                    $("#productdetail_menu_Recommendation").css("background", "none");
                                    $("#tab_Recommendation_Limitation").css("display", "block"); $("#descdiv_1").css("display", "none"); $("#descdiv_2").css("display", "none");
                                }
                                else if (curId == "detailhowto") {
                                    $("#detailhowto").css("opacity", "0.31");
                                    $("#detailhowto").css("background", "none");
                                    $("#tab_Recommendation_Limitation").css("display", "block"); $("#descdiv_1").css("display", "none"); $("#descdiv_2").css("display", "none");
                                }


                                else if (curId == "productdetail_menu_Productreview") {
                                    $("#productdetail_menu_Productreview").css("background", "url('/Themes/MisterLandscaper/Content/images/Arrow_Small_Righforli.png') no-repeat scroll 6px 50% #cbd2dc");
                                    $("#tab_Productreview").css("display", "block"); $("#descdiv_1").css("display", "none"); $("#descdiv_2").css("display", "none");
                                }
                                else if (curId == "productdetail_menu_Product_Download") {
                                    $("#productdetail_menu_Product_Download").css("opacity", "0.31");
                                    $("#productdetail_menu_Product_Download").css("background", "none");
                                    $("#tab_Download").css("display", "block"); $("#descdiv_1").css("display", "none"); $("#descdiv_2").css("display", "none");
                                }
                                else if (curId == "productdetail_menu_Product_Warnty") {
                                    $("#productdetail_menu_Product_Warnty").css("opacity", "0.31");
                                    $("#productdetail_menu_Product_Warnty").css("background", "none");
                                    $("#tab_Warranties").css("display", "block"); $("#descdiv_1").css("display", "none"); $("#descdiv_2").css("display", "none");
                                }
                                else {
                                    $("#productdetail_menu_Related").css("background", "url('/Themes/MisterLandscaper/Content/images/Arrow_Small_Righforli.png') no-repeat scroll 6px 50% #cbd2dc");
                                    $("#tab_Related_Item").css("display", "block"); $("#descdiv_1").css("display", "none"); $("#descdiv_2").css("display", "none");
                                }
                            });
                        </script>

                        <script>
                            function variantButtonClick(id, productId, price) {
                                $(".variant-product-button").removeClass("dark-color");
                                $("#" + id).addClass('dark-color');
                                //$('#price-value-' + productId).text(price);

                                $(".variant-cart-button").removeClass("show-cart");
                                $(".variant-cart-price").removeClass("show-variant-price");
                                var variantProductId = $("#"+id).attr("product-id");
                                $('#variant-cart-' + variantProductId).addClass('show-cart');
                                $('#variant-price-' + variantProductId).addClass('show-variant-price');
                            }

                            $(document).ready(function () {
                                var apId = @Model.AssociatedProducts[0].Id;
                                var element = document.getElementById("btn-" + apId);
                                element.classList.add("dark-color");
                                //$('#price-value-' + @Model.Id).text($("#btn-" + apId).attr("product-price"));
                                $('#variant-cart-' + apId).addClass('show-cart');
                                $('#variant-price-' + apId).addClass('show-variant-price');

                                $(".fancybox").fancybox({
                                    width: '70%',
                                    height: '70%',
                                    helpers: {
                                        media: {}
                                    },
                                    afterShow: function (current, previous) {

                                        var swiper = new Swiper('.swiper-container', {
                                            slidesPerView: 3,
                                            spaceBetween: 0,
                                            mousewheelControl: true,
                                            direction: 'vertical',
                                            loop: true,
                                            nextButton: '.swiper-button-next',
                                            prevButton: '.swiper-button-prev'
                                        });
                                    }
                                });
                                $("[id^=descdiv_]").each(function (index) {
                                    var id = "#" + this.id;
                                    $(id).css("display", "none");
                                });

                                $("[id^=catdiv_]").each(function (index) {
                                    var id = "#" + this.id;
                                    var result = $(id).html();
                                    $(".productdetaiiconcontainmain").append(result);
                                    $(id).html('');
                                });

                                $("[id^=suppcat_]").each(function (index) {
                                    var id = "#" + this.id;
                                    var result = $(id).html();
                                    $(".tab_div_container").append(result);
                                    $(id).html('');
                                });

                                $("[id^=videodiv_]").each(function (index) {
                                    var id = "#" + this.id;
                                    var result = $(id).html();
                                    $(".productdetaiiconcontainmain").append(result);
                                    $(id).html('');
                                });

                                $("[id^=suppvideo_]").each(function (index) {
                                    var id = "#" + this.id;
                                    var result = $(id).html();
                                    $(".tab_div_container").append(result);
                                    $(id).html('');
                                });

                                $("[id^=downloaddiv_]").each(function (index) {
                                    var id = "#" + this.id;
                                    var result = $(id).html();
                                    $(".productdetaiiconcontainmain").append(result);
                                    $(id).html('');
                                });

                                $("[id^=suppdownload_]").each(function (index) {
                                    var id = "#" + this.id;
                                    var result = $(id).html();
                                    $(".tab_div_container").append(result);
                                    $(id).html('');
                                });

                                $(".productdetailsconcontainicon").each(function (index) {
                                    if ($(this).css("display") == "none")
                                        $(this).parent().css("display", "none");
                                });
                            });



                            (function ($) {

                                $(function () {

                                    $(".fancyYoutube").fancybox({
                                        'transitionIn': 'elastic',
                                        'transitionOut': 'fade',
                                        'width': '680',
                                        'height': '495',
                                        'type': 'swf'
                                    });

                                    // $('.fancybox').fancybox();

                                    $('.fancyCarausal')
                                        .attr('rel', 'media-gallery')
                                        .fancybox({
                                            openEffect: 'none',
                                            closeEffect: 'none',
                                            prevEffect: 'none',
                                            nextEffect: 'none',

                                            arrows: false,
                                            helpers: {
                                                media: {},
                                                buttons: {}
                                            }, afterShow: function (current, previous) {

                                                var swiper = new Swiper('.swiper-container', {
                                                    slidesPerView: 3,
                                                    spaceBetween: 0,
                                                    mousewheelControl: true,
                                                    direction: 'vertical',
                                                    loop: true,
                                                    nextButton: '.swiper-button-next',
                                                    prevButton: '.swiper-button-prev'
                                                });
                                            }
                                        });


                                });

                            })(jQuery);



                        </script>

