@model ProductsVideos
@using System.Text;
@{
    Html.AppendCssFileParts("~/Content/tagit/jquery.tagit.css");
    Html.AppendScriptParts("~/Scripts/tag-it.min.js");
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";
  
}
@if (ViewBag.RefreshPage == true)
{
    <script type="text/javascript">
        try {window.opener.document.forms['@(ViewBag.formId)'].@(ViewBag.btnId).click();}
        catch (e){}
        window.close();
    </script>
}
  <script type="text/javascript">
    $(document).ready(function () {
        @{
            //TODO move to Model
            string str = Model.Tags;
            string[] Tagarray;
            var videoTagsSb = new StringBuilder();
            if (Model.Tags!=null)
            {
                Tagarray = str.Split(',');

                videoTagsSb.Append("var sampleTags = [");
                for (int i = 0; i < Tagarray.Count(); i++)
                {
                    var videotag = Tagarray[i];
                    videoTagsSb.Append("'");
                    videoTagsSb.Append(HttpUtility.JavaScriptStringEncode(videotag));
                    videoTagsSb.Append("'");
                    if (i != Tagarray.Count() - 1)
                    {
                        videoTagsSb.Append(",");
                    }
                }
                videoTagsSb.Append("]");

            }
            else
            {
                Tagarray = null;
                videoTagsSb.Append("var sampleTags = [");
                 videoTagsSb.Append("]");
            }



        }
        //Video tags

        $(document).ready(function () {
            @Html.Raw(videoTagsSb.ToString())
            $("#@Html.FieldIdFor(model => model.Tags)").tagit({
                availableTags:sampleTags,
                allowSpaces: true
            });

        });
    });
</script>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ClonePictureid)

        <table class="adminContent">

            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.PictureId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.PictureId)
                    @Html.ValidationMessageFor(model => model.PictureId)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.VideoTitle):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.VideoTitle)
                    @Html.ValidationMessageFor(model => model.VideoTitle)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.VideoDescription):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.VideoDescription)
                    @Html.ValidationMessageFor(model => model.VideoDescription)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.VideoUrl):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.VideoUrl)
                    @Html.ValidationMessageFor(model => model.VideoUrl)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.DisplayOrder):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.DisplayOrder)
                    @Html.ValidationMessageFor(model => model.DisplayOrder)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.Tags):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Tags)
                    @Html.ValidationMessageFor(model => model.Tags)
                </td>
            </tr>
            <tr>
                <td colspan="2" align="left">
                    <input type="submit" class="k-button" value="@T("admin.common.save")" />
                </td>
            </tr>
        </table>
    }
