@model Nop.Plugin.Widgets.TorchDesign_Support.Models.SupportDownloadModel
@using Nop.Web.Framework;
@{
	//page title
	ViewBag.Title = T("Admin.Support.SupportDownloads.AddNew").Text;
	Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "download-form" }))
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
            @T("Admin.Support.SupportDownloads.AddNew") @Html.ActionLink("(" + T("Admin.Support.SupportTopics.BackToList") + ")", "SupportDownloadList")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
        </div>
    </div>
    @Html.Partial("~/Plugins/Widgets.TorchDesign_Support/Views/TorchDesign_Support/_CreateOrUpdateSupportDownload.cshtml", Model)
}